@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: url("./images/rm218batch5-katie-18.jpg");
  font-family: 'Ubuntu', sans-serif;
}

.type-writer-text {
  font-family: 'Ubuntu Mono', monospace;
  position: relative;
  width: max-content;
  font-size: 2rem;
}

.type-writer-text::before,
.type-writer-text::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.type-writer-text::before {
  background: white;
  animation: type-writer-anm 3s steps(18) forwards;
}

.type-writer-text::after {
  width: 0.125em;
  background-color: black;
  animation: type-writer-anm 3s steps(18) forwards;
}

@keyframes type-writer-anm {
  to { 
    left: 100%
  }
}

.custom-underline::after {
  content: "";
  position: absolute;
  top: 45px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: yellow;
}




.min-height-500 {
  min-height: 500px;
}